# vim: ai:ts=2:sw=2:et
version: "3.4"
networks: {}
volumes:
  db-data:
  es-data:

x-custom:
  environment: &env-vars
    # Environment settings
    - "HOME=${CHOME}"
    - COMPOSER_MEMORY_LIMIT=-1
    - XDEBUG_CONFIG
    - SSH_AUTH_SOCK
    # Database settings
    - DB_HOST
    - DB_USER
    - DB_PASS
    - DB_NAME
    - MYSQL_PORT
    # URL settings
    - CONFIG__DEFAULT__WEB__SECURE__BASE_URL
    - CONFIG__DEFAULT__WEB__UNSECURE__BASE_URL
    # GCP settings
    - CLOUDSDK_CONFIG=/config/mygcloud
    - GCLOUD_BUCKET_URL_DB
    - GCLOUD_BUCKET_URL_MEDIA
    # Magento settings
    - BACKEND__FRONT_NAME
    - CRYPT__KEY
    - CACHE__FRONTEND__DEFAULT__BACKEND_OPTIONS__HOST
    - CACHE__FRONTEND__DEFAULT__BACKEND_OPTIONS__PORT
    - CACHE__FRONTEND__DEFAULT__BACKEND_OPTIONS__PASSWORD
    - CACHE__FRONTEND__DEFAULT__BACKEND_OPTIONS__DATABASE
    - CACHE__FRONTEND__PAGE_CACHE__BACKEND_OPTIONS__HOST
    - CACHE__FRONTEND__PAGE_CACHE__BACKEND_OPTIONS__PORT
    - CACHE__FRONTEND__PAGE_CACHE__BACKEND_OPTIONS__PASSWORD
    - CACHE__FRONTEND__PAGE_CACHE__BACKEND_OPTIONS__DATABASE
    - DB__CONNECTION__DEFAULT__HOST
    - DB__CONNECTION__DEFAULT__DBNAME
    - DB__CONNECTION__DEFAULT__USERNAME
    - DB__CONNECTION__DEFAULT__PASSWORD
    - DB__CONNECTION__INDEXER__HOST
    - DB__CONNECTION__INDEXER__DBNAME
    - DB__CONNECTION__INDEXER__USERNAME
    - DB__CONNECTION__INDEXER__PASSWORD
    - QUEUE__AMQP__HOST
    - QUEUE__AMQP__PORT
    - QUEUE__AMQP__USER
    - QUEUE__AMQP__PASSWORD
    - QUEUE__AMQP__VIRTUALHOST
    - SESSION__REDIS__HOST
    - SESSION__REDIS__PORT
    - SESSION__REDIS__PASSWORD
    - SESSION__REDIS__DATABASE
    - CONFIG__DEFAULT__ADMIN__SECURITY__ADMIN_ACCOUNT_SHARING
    - CONFIG__DEFAULT__ADMIN__SECURITY__PASSWORD_IS_FORCED
    - CONFIG__DEFAULT__ADMIN__SECURITY__SESSION_LIFETIME
    - CONFIG__DEFAULT__ADMIN__SECURITY__USE_FORM_KEY
    - CONFIG__DEFAULT__CATALOG__SEARCH__ENGINE
    - CONFIG__DEFAULT__CATALOG__SEARCH__ELASTICSEARCH6_SERVER_HOSTNAME
    - CONFIG__DEFAULT__CATALOG__SEARCH__ELASTICSEARCH6_SERVER_PORT
    - CONFIG__DEFAULT__CATALOG__SEARCH__ELASTICSEARCH6_ENABLE_AUTH
    - CONFIG__DEFAULT__CATALOG__SEARCH__ELASTICSEARCH6_USERNAME
    - CONFIG__DEFAULT__CATALOG__SEARCH__ELASTICSEARCH6_PASSWORD
    - CONFIG__DEFAULT__SMILE_ELASTICSUITE_CORE_BASE_SETTINGS__ES_CLIENT__SERVERS
    - CONFIG__DEFAULT__SMILE_ELASTICSUITE_CORE_BASE_SETTINGS__ES_CLIENT__ENABLE_HTTPS_MODE
    - CONFIG__DEFAULT__SMILE_ELASTICSUITE_CORE_BASE_SETTINGS__ES_CLIENT__ENABLE_HTTP_AUTH
    - CONFIG__DEFAULT__SMILE_ELASTICSUITE_CORE_BASE_SETTINGS__ES_CLIENT__HTTP_AUTH_USER
    - CONFIG__DEFAULT__SMILE_ELASTICSUITE_CORE_BASE_SETTINGS__ES_CLIENT__HTTP_AUTH_PWD
    - CONFIG__DEFAULT__SYSTEM__FULL_PAGE_CACHE__CACHING_APPLICATION
    - CONFIG__DEFAULT__SYSTEM__FULL_PAGE_CACHE__VARNISH__BACKEND_HOST
    - CONFIG__DEFAULT__SYSTEM__FULL_PAGE_CACHE__VARNISH__BACKEND_PORT
    - MAGE_MODE

services:
  amqp:
    image: rabbitmq:3.8-alpine
    network_mode: bridge
    environment:
      - RABBITMQ_DEFAULT_USER
      - RABBITMQ_DEFAULT_PASS
      - RABBITMQ_DEFAULT_VHOST

  console:
    image: "eu.gcr.io/mct-deployments/magento-2-console:${PHP_VERSION}"
    user: "${CUID}:${CGID}"
    links:
      - amqp
      - db
      - elasticsearch
      - mailcatch
      - redis
    #      - varnish
    network_mode: bridge
    environment: *env-vars
    working_dir: "${PWD}"
    volumes:
      - "${HOME}:${CHOME}"
      - "${PWD}:${PWD}"
      - "${GCLOUD_LOCAL}:/config/mygcloud"
      - "${SSH_AUTH_SOCK}:${SSH_AUTH_SOCK}"
      - /etc/group:/etc/group:ro
      - /etc/passwd:/etc/passwd:ro
      - /etc/shadow:/etc/shadow:ro

  db:
    image: percona:5.6
    environment:
      - MYSQL_ROOT_PASSWORD
    ports:
      - "${MYSQL_PORT}:3306"
    network_mode: bridge
    volumes:
      - db-data:/var/lib/mysql:rw
      - /etc/group:/etc/group:ro
      - /etc/passwd:/etc/passwd:ro
      - /etc/shadow:/etc/shadow:ro

  elasticsearch:
    image: eu.gcr.io/mct-deployments/magento-2-elasticsearch
    ports:
      - "${ELASTICSEARCH_PORT}:9200"
    network_mode: bridge
    environment:
      - ELASTICSEARCH_PASSWORD
      - ELASTICSEARCH_USERNAME
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
      - discovery.type=single-node
      - http.host=0.0.0.0
      - transport.host=0.0.0.0
      - xpack.monitoring.enabled=false
      - xpack.security.enabled=false
      - xpack.watcher.enabled=false
    volumes:
      - es-data:/usr/share/elasticsearch/data:rw

  mailcatch:
    image: mailhog/mailhog
    network_mode: bridge
    ports:
      - "${MAILHOG_PORT}:8025"

  redis:
    image: redis:5.0-alpine
    network_mode: bridge

  #  varnish:
  #    image: emgag/varnish:5.2.1
  #    links:
  #      - web
  #    network_mode: bridge
  #    ports:
  #      - "${VARNISH_PORT}:80"
  #    volumes:
  #      - ./default.vcl.dev:/etc/varnish/default.vcl:ro

  web:
    image: eu.gcr.io/mct-deployments/magento-2-nginx
    links:
      - worker
    network_mode: bridge
    ports:
      - "${WEB_PORT_HTTP}:80"
      - "${WEB_PORT_HTTPS}:443"
    environment:
      - PHP_FPM_HOST=worker:9000
    working_dir: "${PWD}"
    volumes:
      - "${PWD}:${PWD}:ro"
      - ./nginx-map-dev.conf:/etc/nginx/conf.d/map.conf:ro
      - ./nginx-dev.conf:/etc/nginx/dev.conf:ro

  worker:
    image: "eu.gcr.io/mct-deployments/magento-2-php-fpm:${PHP_VERSION}"
    user: "${CUID}:${CGID}"
    links:
      - amqp
      - db
      - elasticsearch
      - mailcatch
      - redis
    network_mode: bridge
    environment: *env-vars
    working_dir: "${PWD}"
    volumes:
      - "${PWD}:${PWD}:rw"
      - /etc/group:/etc/group:ro
      - /etc/passwd:/etc/passwd:ro
      - /etc/shadow:/etc/shadow:ro

