# vim: ai:ts=2:sw=2:et
version: "3.4"
networks:
  backend:
volumes:
  db-data:
  es-data:

x-custom:
  version: 1.2.0
  type: magento-2
  environment: &env-vars
    # Environment settings
    - COMPOSER_MEMORY_LIMIT=-1
    - "HOME=${CHOME}"
    - HTTPS=on
    - SSH_AUTH_SOCK
    - XDEBUG_CONFIG
    - COMPOSER_ALLOW_XDEBUG
    # Database settings
    - DB_HOST
    - DB_USER
    - DB_PASS
    - DB_NAME
    - MYSQL_PORT
    # URL settings
    - CONFIG__DEFAULT__WEB__UNSECURE__BASE_URL
    - CONFIG__DEFAULT__WEB__SECURE__BASE_URL
    # GCP settings
    - CLOUDSDK_CONFIG=/config/mygcloud
    - GCLOUD_BUCKET_URL_DB
    - GCLOUD_BUCKET_URL_MEDIA
    # Magento settings
    - BACKEND__FRONT_NAME
    - CRYPT__KEY
    - CACHE__FRONTEND__DEFAULT__BACKEND_OPTIONS__HOST
    - CACHE__FRONTEND__DEFAULT__BACKEND_OPTIONS__PORT
    - CACHE__FRONTEND__DEFAULT__BACKEND_OPTIONS__PASSWORD
    - CACHE__FRONTEND__DEFAULT__BACKEND_OPTIONS__DATABASE
    - CACHE__FRONTEND__PAGE_CACHE__BACKEND_OPTIONS__HOST
    - CACHE__FRONTEND__PAGE_CACHE__BACKEND_OPTIONS__PORT
    - CACHE__FRONTEND__PAGE_CACHE__BACKEND_OPTIONS__PASSWORD
    - CACHE__FRONTEND__PAGE_CACHE__BACKEND_OPTIONS__DATABASE
    - DB__CONNECTION__DEFAULT__HOST
    - DB__CONNECTION__DEFAULT__DBNAME
    - DB__CONNECTION__DEFAULT__USERNAME
    - DB__CONNECTION__DEFAULT__PASSWORD
    - DB__CONNECTION__INDEXER__HOST
    - DB__CONNECTION__INDEXER__DBNAME
    - DB__CONNECTION__INDEXER__USERNAME
    - DB__CONNECTION__INDEXER__PASSWORD
    - HTTPS_CACHE_HOSTS__0__HOST
    - HTTPS_CACHE_HOSTS__0__PORT
    - QUEUE__AMQP__HOST
    - QUEUE__AMQP__PORT
    - QUEUE__AMQP__USER
    - QUEUE__AMQP__PASSWORD
    - QUEUE__AMQP__VIRTUALHOST
    - SESSION__REDIS__HOST
    - SESSION__REDIS__PORT
    - SESSION__REDIS__PASSWORD
    - SESSION__REDIS__DATABASE
    - CONFIG__DEFAULT__ADMIN__SECURITY__ADMIN_ACCOUNT_SHARING
    - CONFIG__DEFAULT__ADMIN__SECURITY__PASSWORD_IS_FORCED
    - CONFIG__DEFAULT__ADMIN__SECURITY__SESSION_LIFETIME
    - CONFIG__DEFAULT__ADMIN__SECURITY__USE_FORM_KEY
    - CONFIG__DEFAULT__CATALOG__SEARCH__ENGINE
    - CONFIG__DEFAULT__CATALOG__SEARCH__ELASTICSEARCH6_SERVER_HOSTNAME
    - CONFIG__DEFAULT__CATALOG__SEARCH__ELASTICSEARCH6_SERVER_PORT
    - CONFIG__DEFAULT__CATALOG__SEARCH__ELASTICSEARCH6_ENABLE_AUTH
    - CONFIG__DEFAULT__CATALOG__SEARCH__ELASTICSEARCH6_USERNAME
    - CONFIG__DEFAULT__CATALOG__SEARCH__ELASTICSEARCH6_PASSWORD
    - CONFIG__DEFAULT__SMILE_ELASTICSUITE_CORE_BASE_SETTINGS__ES_CLIENT__SERVERS
    - CONFIG__DEFAULT__SMILE_ELASTICSUITE_CORE_BASE_SETTINGS__ES_CLIENT__ENABLE_HTTPS_MODE
    - CONFIG__DEFAULT__SMILE_ELASTICSUITE_CORE_BASE_SETTINGS__ES_CLIENT__ENABLE_HTTP_AUTH
    - CONFIG__DEFAULT__SMILE_ELASTICSUITE_CORE_BASE_SETTINGS__ES_CLIENT__HTTP_AUTH_USER
    - CONFIG__DEFAULT__SMILE_ELASTICSUITE_CORE_BASE_SETTINGS__ES_CLIENT__HTTP_AUTH_PWD
    - CONFIG__DEFAULT__SYSTEM__FULL_PAGE_CACHE__CACHING_APPLICATION
    - CONFIG__DEFAULT__SYSTEM__FULL_PAGE_CACHE__VARNISH__BACKEND_HOST
    - CONFIG__DEFAULT__SYSTEM__FULL_PAGE_CACHE__VARNISH__BACKEND_PORT
    - CONFIG__DEFAULT__DEV__GRID__ASYNC_INDEXING
    - CONFIG__DEFAULT__SALES_EMAIL__GENERAL__ASYNC_SENDING
    - MAGE_MODE

services:
  amqp:
    image: rabbitmq:3-management-alpine
    networks:
      - backend
    environment:
      - RABBITMQ_DEFAULT_USER
      - RABBITMQ_DEFAULT_PASS
      - RABBITMQ_DEFAULT_VHOST
    ports:
      - 5672:5672
      - 15672:15672

  console:
    image: "eu.gcr.io/mct-deployments/magento-2-console:${PHP_VERSION}"
    user: "${CUID}:${CGID}"
    links:
      - amqp
      - db
      - elasticsearch
      - mailcatch
      - redis
      - varnish
    networks:
      - backend
    environment: *env-vars
    extra_hosts:
      - "${DNS_NAME}:${HOST_IP}"
    working_dir: "${PWD}"
    volumes:
      - "${HOME}:${CHOME}"
      - "${PWD}:${PWD}"
      - "${GCLOUD_LOCAL}:/config/mygcloud"
      - "${SSH_AUTH_SOCK}:${SSH_AUTH_SOCK}"
      - /etc/group:/etc/group:ro
      - /etc/passwd:/etc/passwd:ro
      - /etc/shadow:/etc/shadow:ro

  db:
    image: percona:8.0
    command: mysqld --default-authentication-plugin=mysql_native_password
    networks:
      - backend
    ports:
      - "${MYSQL_PORT}:3306"
    environment:
      - MYSQL_ROOT_PASSWORD
    volumes:
      - db-data:/var/lib/mysql:rw

  elasticsearch:
    image: eu.gcr.io/mct-deployments/magento-2-elasticsearch
    networks:
      - backend
    environment:
      - ELASTICSEARCH_PASSWORD
      - ELASTICSEARCH_USERNAME
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
      - discovery.type=single-node
      - http.host=0.0.0.0
      - transport.host=0.0.0.0
      - xpack.monitoring.enabled=false
      - xpack.security.enabled=false
      - xpack.watcher.enabled=false
    volumes:
      - es-data:/usr/share/elasticsearch/data:rw

  mailcatch:
    image: mailhog/mailhog
    networks:
      - backend
    ports:
      - "${MAILHOG_PORT}:8025"

  nginx-php-fpm:
    image: eu.gcr.io/mct-deployments/magento-2-nginx-php-fpm
    networks:
      - backend
    links:
      - php-fpm
    working_dir: "${PWD}"
    environment:
      - "MAGE_ROOT=${PWD}"
      - PHP_FPM_HOST
      - PHP_FPM_PORT
    extra_hosts:
      - "${DNS_NAME}:${HOST_IP}"
    volumes:
      - "${PWD}:${PWD}:ro"
      - ./nginx-map-dev.conf:/etc/nginx/conf.d/map.conf:ro
      - ./nginx-dev.conf:/etc/nginx/app.conf:ro

  nginx-ssl-proxy:
    image: eu.gcr.io/mct-deployments/mediacthq-dev-nginx-ssl-proxy
    networks:
      - backend
    links:
      - varnish
      - nginx-php-fpm
    ports:
      - "${WEB_PORT_HTTP}:80"
      - "${WEB_PORT_HTTPS}:443"
    environment:
      - PROXY_HOST
      - PROXY_PORT
    working_dir: "${PWD}"

  php-fpm:
    image: "eu.gcr.io/mct-deployments/magento-2-php-fpm:${PHP_VERSION}"
    user: "${CUID}:${CGID}"
    networks:
      - backend
    links:
      - amqp
      - db
      - elasticsearch
      - mailcatch
      - redis
    environment: *env-vars
    working_dir: "${PWD}"
    volumes:
      - "${PWD}:${PWD}:rw"
      - /etc/group:/etc/group:ro
      - /etc/passwd:/etc/passwd:ro
      - /etc/shadow:/etc/shadow:ro

  redis:
    image: redis:5.0-alpine
    networks:
      - backend

  varnish:
    image: emgag/varnish:5.2.1
    networks:
      - backend
    links:
      - nginx-php-fpm
    volumes:
      - ./default-dev.vcl:/etc/varnish/default.vcl:ro
